<mat-toolbar color="primary">
  <mat-toolbar-row
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <div>
      <span routerLink="/">Splitwise clone</span>
    </div>

    <div>
      <a mat-button routerLink="/friends" [routerLinkActive]="['activePage']"
        >Friends</a
      >
      <a mat-button routerLink="/expenses" [routerLinkActive]="['activePage']"
        >Expenses</a
      >
      <a mat-button routerLink="/groups" [routerLinkActive]="['activePage']"
        >Groups</a
      >
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- home component -->
<!-- <div
  class="mat-typography"
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
  "
>
  <h1 class="mat-display-2">Home</h1>
  <p class="mat-display-1">
    You lent Rajesh Rs.300 in group Hangout - 12.12.22
  </p>
  <p class="mat-display-1">
    Kavita lent Rajesh Rs.500 in group Hangout - 12.12.22
  </p>
</div> -->
<router-outlet></router-outlet>
