<mat-toolbar color="primary">
  <mat-toolbar-row
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <div>
      <span>Splitwise clone</span>
    </div>

    <div>
      <a mat-button routerLink="/friends" [routerLinkActive]="['activePage']"
        >Friends</a
      >
      <a mat-button routerLink="/expenses" [routerLinkActive]="['activePage']"
        >Expenses</a
      >
      <a mat-button routerLink="/groups" [routerLinkActive]="['activePage']"
        >Groups</a
      >
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
