<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
>
  <h1 style="margin: 1em">Groups</h1>
  <div *ngFor="let group of groups">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin: 1em">{{ group.name }}</mat-card-title>
        <mat-card-subtitle *ngFor="let friend of group.friends">{{
          friend.name
        }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions>
        <button mat-button>Edit</button>
        <button mat-button>Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div style="display: flex; align-self: flex-end; background-color: aqua">
    <button mat-button (click)="openDialog()">Add Group</button>
  </div>
</div>
